.photo-grid {
    margin: 0 auto;
    padding: 92px 0;
    display: grid;
    max-width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 14px;
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        max-width: 1184px;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        gap: 16px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        gap: 12px;
    }
}
  