@font-face {
	src: url(/fonts/Inter-Black.woff) format('woff'),
			 url(/fonts/Inter-Black.woff2) format('woff2'),
			 url(/fonts/Inter-Black.otf) format('truetype');
			 font-family: 'Inter';
			 font-weight: 900;
}

@font-face {
	src: url(/fonts/Inter-Regular.woff) format('woff'),
			 url(/fonts/Inter-Regular.woff2) format('woff2'),
			 url(/fonts/Inter-Regular.otf) format('truetype');
			 font-family: 'Inter';
			 font-weight: 400;
}

body {
	background-color: #2A2C2F;
}

.page {
	max-width: 1024px;
	margin: 28px 0;
	font-family: 'Inter', Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #fff;
	box-sizing: border-box;
}

.header {
	width: 90%;
	max-height: 52px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

}

.header__lang-links {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding-bottom: 5px;
	width: 78px;

}

.header__lang-link {
	width: 30px;
	height: 28px;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	text-decoration: none;
	cursor: pointer;
	color: white;

}

.header__lang-link:focus {
	text-decoration: underline;
	color: white;
}

.lead {
	width: 90%;
	padding: 48px 0 92px;
	margin: 0 auto;
	text-align: center;
}

.lead__title {
	margin: 0 auto;
	width: 90%;
	font-size: 100px;
	font-weight: 900;
	line-height: 100px;
}

.lead__subtitle {
	margin: 0 auto;
	padding: 32px 0 56px;
	width: 70%;
	font-size: 31px;
	font-weight: normal;
	line-height: 36px;
}

.lead__image {
	width: 100%;
	max-height: 580px;
}

.lead__caption {
	display: flex;
	margin: 0 auto;
	padding-top: 8px;
	font-size: 10px;
	font-weight: normal;
	line-height: 14px;
	text-transform: uppercase;
	align-content: flex-start;
	letter-spacing: 0.15em;
}

.intro {
	margin: 0 auto;
	width: 90%;
	min-height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.intro__title {
	margin: 0;
	font-size: 54px;
	font-weight: 900;
	line-height: 107%;
}

.intro__text {
	margin: 0;
	max-width: 690px;
	padding: 40px 0 33px;
	font-size: 16px;
	line-height: 163%;
	font-weight: normal;
}

.intro__list {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
	line-height: 150%;
	list-style: none;
}

.photo-grid {
	margin: 0 auto;
	padding: 92px 0;
	display: grid;
	max-width: 90%;
	grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
	gap: 14px;
	/*grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
	изначально пробовал с этим свойством, вдруг пригодится*/
}

.photo-grid__item {
	max-width: 100%;
  object-fit: cover;
}

.places {
	max-width: 928px;
	margin: 0 auto;
	padding: 0;
}

.place {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 80px;
}

.place:last-child {
	margin: 0;
}

.place__title {
	margin: 0;
	padding: 0 32px 48px 0;
	font-size: 72px;
	font-weight: 900;
	line-height: 106%;
	max-width: 440px;

}

.place__website {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: flex-end;
	width: 456px;
	height: 46px;
	padding-bottom: 48px;
}

.place__url-heading {
	margin: 0;
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	letter-spacing: 0.2em;
	color: #AAAAAA;
}

.place__link {
	font-size: 18px;
	font-weight: normal;
	line-height: 122%;
	text-decoration: underline;
	color: #fff;
	transition: opacity 0.3s ease;
}

.place__link:hover {
	opacity: 0.5;
}

.place__image {
	max-width: 440px;
	max-height: 440px;
  width: 100%;
  object-fit: cover;
	padding-right: 32px;
}

.place__paragraphes {
	display: flex;
	flex-direction: column;
	}

.place__paragraph {
	margin: 0;
	padding: 0;
	max-width: 456px;
	font-size: 18px;
	line-height: 163%;
	font-weight: normal;
}

.place__paragraph:nth-child(1) {
	padding-bottom: 28px;
}

.cover {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 92px auto;
	padding: 195px 0;
	box-sizing: border-box;

}

.cover__title {
	z-index: 3;
	margin: 0 auto;
	padding: 0;
	font-size: 72px;
	line-height: 106%;
	font-weight: 900;
	text-align: center;
	max-width: 560px;
}

.cover__subtitle {
	z-index: 2;
	margin: 0 auto;
	padding-top: 30px;
	font-size: 18px;
	line-height: 122%;
	text-align: center;
	font-weight: normal;
	max-width: 360px;
}

.cover__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/images/sprint-3-images/cover-trains.jpg);
	background-size: cover;
	opacity: 0.6;
	transition: opacity 1.2s ease;
}

.cover__overlay:hover {
	opacity: 0.3;
	cursor: pointer;
	z-index: 998;
}

.footer {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.footer__links {
	display: flex;
	justify-content: space-between;
}

.footer__link {
	margin-right: 18px;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	text-decoration: none;
	color: #fff;
	transition: opacity 0.3s ease;
}

.footer__link:last-child {
	margin-right: 0;
}

.footer__link:hover {
	opacity: 0.5;
}

.footer__copyright {
	margin: 0;
	padding: 0;
	max-width: 186px;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
}

@media screen and (min-width: 1280px) {
	.page {
		min-width: 1280px;
	}

	.lead {
		width: 75%;
	}

	.lead__title {
		width: 75%;
	}

	.lead__subtitle {
		width: 65%;
	}

	.intro {
		width: 75%;
	}

	.photo-grid {
		grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
		gap: 16px;
	}

	.cover {
		width: 90%;
	}
}

@media screen and (max-width: 768px) {
	.page {
		max-width: 768px;
	}


	.lead {
		width: 100%;
		padding: 48px 0 88px;
	}

	.lead__title {
		margin: 0 auto;
		font-size: 96px;
		font-weight: 900;
		line-height: 100px;
	}

	.lead__subtitle {
		margin: 0 auto;
		padding: 32px 0 56px;
		font-size: 30px;
		font-weight: normal;
		line-height: 36px;
	}

	.lead__caption {
		width: 90%;
}

	.photo-grid {
		width: 90%;
		gap: 16px;
	}

	.places {
		max-width: 720px;
	}

	.place {
		margin-bottom: 73px;
	}

	.place__title {
		max-width: 340px;
		font-size: 42px;
		line-height: 46px;
		padding-right: 28px;
	}

  .place__website {
		width: 352px;
		height: 46px;
		padding-bottom: 48px;
	}

	.place__url-heading {
		margin: 0;
		font-size: 12px;
		line-height: 12px;
	}

	.place__link {
		font-size: 18px;
		line-height: 22px;
	}

	.place__image {
		max-width: 340px;
		max-height: 340px;
		padding-right: 28px;
	}

	.place__paragraph {
		margin: 0;
		padding: 0;
		max-width: 352px;
		font-size: 16px;
		line-height: 26px;
		font-weight: normal;
	}

	.cover {
		padding: 115px 0;
	}

}

@media screen and (max-width: 425px) {

		.page {
		max-width: 425px;
	}

		.lead__title {
			font-size: 48px;
			line-height: 60px;
	}

		.lead__subtitle {
			padding: 18px 0 28px;
			font-size: 28px;
	}


		.intro__title {
			font-size: 52px;
		}

		.places {
			display: flex;
			margin: 0;
			padding: 0;
			flex-direction: column;
		}

		.place {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0;

		}
		.place__title {
			padding: 0;
			max-width: 90%;
			margin: 0;
	}

		.place__website {
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			margin: 0 auto;
			padding: 0;
		}

		.place__image {
			max-width: 425px;
			max-height: 425px;
			padding: 24px 0;
		}

		.cover__title {
			width: 90%;
			font-size: 48px;
			line-height: 60px;
		}

		.footer {
			flex-direction: column;
		}

		.footer__links {
			flex-direction: column;
		}

		.footer__link {
			margin-bottom: 32px;
			font-size: 24px;
			line-height: 24px;
		}

		.footer__link:last-child {
			margin-bottom: 0;
		}

		.footer__copyright {
			line-height: 14px;
			margin-top: 48px;
		}

	}

@media screen and (max-width: 320px) {

	.page {
		max-width: 320px;
		margin: 18px 0;
	}

	.header__logo {
		width: 142px;
		height: 42px;
	}

	.header__lang-links {
		width: 60px;

	}

	.header__lang-link {
		width: 22px;
		height: 20px;
		font-size: 18px;
		line-height: 20px;
	}

	.lead {
		width: 90%;
		padding: 48px 0 64px;
	}

	.lead__title {
		width: 90%;
		font-size: 37px;
		font-weight: 900;
		line-height: 44px;
	}

	.lead__subtitle {
		padding: 16px 0 40px;
		max-width: 640px;
		font-size: 16px;
		font-weight: normal;
		line-height: 20px;
	}

	.intro__title {
		font-size: 32px;
		line-height: 35px;
	}

	.photo-grid {
		gap: 12px;
	}

	.places {
		width: 100%;
	}

	.place {
		align-items: flex-start;
		margin-bottom: 50px;
	}

	.place__title {
		width: 90%;
		margin: 0 auto;
		font-size: 32px;
		line-height: 35px;
	}

	.place__website {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		width: 90%;
		padding: 32px 0;

	}

	.place__url-heading {
		margin: 0;
		font-size: 12px;
		line-height: 12px;
	}

	.place__link {
		font-size: 18px;
		line-height: 22px;
	}

	.place__image {
		max-width: 340px;
		max-height: 340px;
		padding: 0;
		margin-bottom: 32px;
	}

	.place__paragraphes {
		width: 90%;
		margin: 0 auto;
	}

	.place__paragraph {
		margin: 0;
		padding: 0;
		max-width: 352px;
		font-size: 16px;
		line-height: 26px;
	}

	.place__paragraph:nth-child(1) {
		padding-bottom: 32px;
	}

	.cover {
		margin: 65px auto;
		padding: 33px 0;
		text-align: end;
	}

	.cover__title {
		font-size: 37px;
		line-height: 35px;
	}

	.cover__subtitle {
	  width: 90%;
		padding-top: 16px;
		font-size: 15px;
		line-height: 16px;
	}

}
