.place__image {
    width: calc((100% - 20px)/2);
    object-fit: cover;
    height: 100%;
}

@media screen and (min-width: 1280px) {
    .place__image {
        padding: 0;
        width: calc((100% - 20px)/2);
    }
}

@media screen and (max-width: 767px) {
    .place__image {
        max-width: 425px;
        max-height: 425px;
        padding: 24px 0;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        width: 100%;
        padding: 0;
        margin-bottom: 32px;
    }
}
