.intro {
    margin: 0 auto;
    max-width: 90%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
  .intro {
      max-width: 984px;
  }
}
