.cover {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin: 92px auto;
    padding: 195px 0;
    box-sizing: border-box;
    background: url(../../images/cover-trains.jpg) no-repeat center / cover;
}

@media screen and (min-width: 1280px) {
    .cover {
        width: 90%;
        max-height: 740px;
        padding: 245px 0;
    }
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        max-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        padding: 115px 0;
        max-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-height: 200px;
        margin: 65px auto;
        padding: 33px 0;
        text-align: end;
    }
}
