.cover {
  position: relative;
  width: 100%;
	display: flex;
	flex-direction: column;
	margin: 92px auto;
	padding: 195px 0;
  background-image: url(../../images/sprint-3-images/cover-trains.jpg);
  background-size: cover;
	box-sizing: border-box;
}

/* Марина, после вашей проверки я не мог понять, что я не так сделал,
меня смутило то, что в макете белые буквы видно через "солнце" на фоновом изображении, вот я и пытался сделать как там
поэтому я сделал как вы написали в "пред-ревью" надеюсь, что правильно
если нет - дайте ещё пожалуйста подсказки - я всю голову сломал над этим:)*/






@media screen and (max-width: 1280px) {

	.cover {
		width: 90%;
	}
}

@media screen and (max-width: 1024px) {

  .cover {
    width: 100%;
  }

}

@media screen and (max-width: 768px) {

	.cover {
		padding: 115px 0;
	}

}

@media screen and (max-width: 320px) {

	.cover {
		margin: 65px auto;
		padding: 33px 0;
		text-align: end;
	}
}
