.place__link {
    font-size: 18px;
    font-weight: normal;
    line-height: 122%;
    text-decoration: underline;
    color: #fff;
    transition: opacity 0.3s ease;
    padding-top: 12px;
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .place__link {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 767px) {
    .place__link {
        font-size: 18px;
        line-height: 22px;
        padding-top: 0;
    }
}

@media screen and (max-width: 320px) {
    .place__link {
        padding-top: 12px;
        font-size: 18px;
        line-height: 22px;
    }
}
